@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.body{
    margin: 0;
    padding: 0;
}
.result{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0x;
    padding-top: 40px;
    
}
.resultsearch{
    display: absolute;
    /* margin-top: 200px; */
    padding: 4px;
    padding-left: 20px;
    padding-right: 43px;
    border-radius: 13px;
    background: #FFF;
    gap: 685px;
    width: 480px;
    height: 30px;
    border: 1px solid #ccc;
    
    /* padding-bottom: 0px; */
 

}
input {
    position: absolute;
    border: none;
    outline: none;
    background: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #999;
    padding: 20px;
}
input::placeholder {
    color: #999;
 
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    /* padding: 20px; */
    
}
.searchicons {
    position: absolute;
    width: 42px;
    height: 25px;
    right: 500px;
    
    color: #999;
    cursor: pointer;
    /* padding-top: 25px; */
    margin-top: 4px;
}
.resultsection{
    position: relative;
    margin-right: 50px;
    
}
.searchresult{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-left: 35px;
    margin-right: 1037px;
    margin-bottom: auto;
}
.searchresult>p{
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    margin-bottom: 12px;
}
.brandname{
    
    position: relative;
    cursor: pointer;
    justify-content: space-between;
}
.brandname>p{
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.downarrow{
    position: absolute;
    margin-left: 200px;
    margin-top: 25px;
    transition: transform 0.2s;
}
.downarrow.expanded{
    transform: rotate(180deg);
}
.brand-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 1px;
    padding-top: 50px;
    /* align-items: center; */
    gap: 5px;
    font-family: 'Inter', sans-serif;

    
}
.label>div{
    margin-left: 40px;
}
.checkbox{
    position: absolute;
    
    margin-left: 4px;
    

}
.brandname2{
        padding-top: 50px;
        position: absolute;
        cursor: pointer;
        justify-content: space-between;
    
}
.productlist{
    position: relative;
    display: flex;
    font-family: 'Inter', sans-serif;
    margin-left: 370px;
    gap: 6px;
    
}
.productlist>div{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 39px;
}
.star{
    position: relative;
    margin-top: 40px;
    display: flex;
    gap: 10px;
    
}
.star>img{
    width: 116px;
    height: 20px;
    margin-top: 1px;
}
.star>p{
    margin-top: 4px;
    font-weight: 300;
    font-size: 14px;
}
.hearticon{
    position: absolute;
    top: 4px;
    inset: 0;
    left: 200px;

    cursor: pointer;
}