/* .searchbox{
    display: inline-flex;
    margin: 21px 42px 20px 40px;
    justify-content: center;
    align-items: flex-start;
    gap: 685px;
} */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
body{
    margin: 0;
    padding: 0;
    
    /* background: rgba(215, 224, 255, 0.26); */
}
.search{
    background-image: url(https://images.unsplash.com/photo-1489987707025-afc232f7ea0f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    
}
.home{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 0x;
    
}
.searchbox{
    display: absolute;
    /* margin-top: 200px; */
    padding: 4px;
    padding-left: 22px;
    padding-right: 43px;
    border-radius: 13px;
    background: #FFF;
    gap: 685px;
    width: 580px;
    height: 40px;
    border: 1px solid #ccc;
    margin-top: 300px;
    /* padding-bottom: 0px; */
 

}
input {
    position: absolute;
    border: none;
    outline: none;
    background: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #999;
    padding: 20px;
}
input::placeholder {
    color: #999;
 
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    /* padding: 20px; */
    
}
.searchicon {
    position: absolute;
    width: 42px;
    height: 25px;
    /* right: 400px; */
    top: 5%;
    color: #999;
    cursor: pointer;
    margin-top: 145px;
    left: 1040px;
}

.suggestion{
    display: flex;
    position: absolute;
    margin: 25px;
    left: 300px;
    margin-top: 180px;
    padding: 10px;
    background-color: white;
    width: 850px;
    height: 430px;
    border-radius: 5px;
    gap: 2px;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    
    /* visibility: hidden; */
    transition: max-height 0.8s ease-in-out;
}
.suggestion.show {
    max-height: 1000px;
  }

.suggesthead{
    display: flex;
    position: absolute;
    padding: 1px;
    margin: 10px;
    margin-left: 20px;

}
.images{
    border-radius: 5px;
    padding-left: 30px;
    padding-top: 42px;
}
.productname{
    padding-left: 25px;
    position: absolute;
    font-size: 12px;
}
.product-container{
    display: flex;
    flex-wrap: nowrap;
}
.popsuggest{
    position: absolute;
    margin-top: 250px;
    margin-left: 20px;
    padding: 6px;
    
}
.popsuggest>ul{
    list-style: none;
    padding-left: 6px;
    gap: 5px;
}
.popsuggest>ul>li{
    margin-bottom: 8px;
    font-size: 12px;
}